

.tab-header {
    font-family: 'Avenir Next';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 16px;
    text-transform: capitalize;
    color: #7E7E7E;
    cursor: pointer;
    margin-right: 26px;
}



.tab-header.selected {
    font-family: 'Avenir Next';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 16px;
    color: #000000;
    text-transform: capitalize;
    padding-bottom: 8px;
    border-bottom: 3px solid #000000;
}